---
name: ci_checks

on:

  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:

  ci:
    name: ci
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      packages: write
      security-events: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3

    - name: Autobuild
      uses: github/codeql-action/autobuild@v3

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

    - name: Check code formatting
      run: make check-format

    - name: Run Maven compilke
      run: mvn compile

    - name: Run NPM checks
      run: npm run check
      working-directory: ./client

