name: tag-on-pr-merge
on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  tag-on-pr-merge:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      security-events: write

    steps:

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Fetch tags
      run: git fetch --tags origin

    - name: Install semver-cli
      run: cargo install semver-cli

    - name: Calculate the tag value
      id: bump_tag
      run: echo "tag=$(semver-cli $(make version) --increment)"

    - name: Push git tag
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
        git tag -a "${{ steps.bump_tag.outputs.tag }}" \
          -m "Auto tagged from PR: ${{ github.event.pull_request.title }}" \
          -m "${{ github.event.pull_request.html_url }}"
        git push origin "${{ steps.bump_tag.outputs.tag }}"
